extends layout 

block nav 
    .container-fluid
      a.navbar-brand(href="/dashboard") Home
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="/bulletin") Bulletin 
        if user.isMember
          li.nav-item 
            a.nav-link(href="/bulletin/create") Create Post
        if (!user.isMember)
          li.nav-item
            a.nav-link(href="/dashboard/verify-member") Verify Membership
        else if (!user.isAdmin)
          li.nav-item
            a.nav-link(href="/dashboard/verify-admin") Verify Admin
        li.nav-item
          a.nav-link(href="/dashboard/log-out") Log out

block content
  if (posts.length > 0)
    for post in posts
     a(href=post.url)
      .container.border.p-3.mt-3.bg-light
        h3 #{post.title}
        p Post created by #[strong Anonymous] at #{post.created_at}
        p #{post.content}
  else 
    p.p-5 There are no posts in this bulletin! #[a(href="/bulletin/create") Create a new post] (members only)