extends public

block content
  .row.px-5.py-5
    h1.text-center Clubhouse
  .row.px-5.py-2
    a.btn.btn-primary(href="/log-in") Log in 
  .row.px-5.py-2
    a.btn.btn-primary(href="/sign-up") Sign up
