extends public 

block content
  h1.text-center.p-3 Log In
  form(action="", method="post")  
    .form-floating.mb-3
      input#email.form-control(type="email" name="email" required value=(undefined==user ? '' : user.email) placeholder="email")
      label.form-label(for="email") Email
    .form-floating.mb-3
      input#password.form-control(type="password" name="password" required placeholder="password")
      label.form-label(for="password") Password 
    .form-floating.mb-3
      button.btn.btn-primary(type="submit") Log in

    if error
      ul
        li #{error[error.length - 1]}
