extends public 

block content 
  h1.text-center.p-3 Sign Up
  form(action="", method="post")  
    .p-2
      label.form-label(for="first_name") First Name 
      input#first_name.form-control(name="first_name" required value=(undefined==user ? '' : user.first_name))
    .p-2
      label.form-label(for="last_name") Last Name 
      input#last_name.form-control(name="last_name" required value=(undefined==user ? '' : user.last_name))
    .p-2
      label.form-label(for="email") Email 
      input#email.form-control(type="email" name="email" required value=(undefined==user ? '' : user.email))
    .p-2
      label.form-label(for="password") Password 
      input#password.form-control(type="password" name="password" required)
    .p-2
      label.form-label(for="confirm") Confirm password 
      input#confirm.form-control(type="password" name="confirm" required)
    .p-2
      button.btn.btn-primary(type="submit") Sign up

    if errors
      ul 
        for error in errors 
          li #{error.msg}